body {
	font-family: Arial, sans-serif;
	font-size: small;
}

.top_nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0px 30px;
	min-width: 244px;
}

#connection_btn {
	background-color: #4688F1;
	padding: 8px 15px;
	color:white;
	font-weight: bold;
	border-radius: 2px;
	text-decoration: none;
}

#apps_icon {
	margin: auto;
	vertical-align: middle;
	display: inline-block;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style-type:none;
}

ul:last-child {
	padding-right: 0;
}

li {
	display:inline;
	padding-right: 15px;
}
